.commercepayments.cart-and-ipay {
    .add-to-cart {
        width: 100%;
        display: block;
    }

    .add-to-cart-global {
        width: 100%;
        display: block;
        margin: 0;
    }

    @include media-breakpoint-only(xs) {
        .add-to-cart {
            width: 100%;
            margin: 0;
        }
    }
}

.bundle-footer .commercepayments.cart-and-ipay {
    width: 29rem;
    margin: auto;

    @include media-breakpoint-only(xs) {
        width: 100%;

        .add-to-cart-actions {
            padding: 0;
        }
    }
}

.salesforce-buynow-element {
    width: 100%;
}

.salesforce-buynow-element:not(:empty) {
    margin-top: 1em;
}

.salesforce-buynow-element-errors {
    margin-top: 0.75rem;
    text-align: left;
}

.salesforce-buynow-element[disabled] {
    display: none;
}

.salesforce-buynow-element div:not(:first-child) {
    margin-top: 1em;
}
