@mixin circle($diameter, $color) { // Source:  https://gist.github.com/kogakure/4769904
    border: 0.063em solid rgba(0, 0, 0, 30%);
    width: $diameter;
    height: $diameter;
    background: $color;
    -moz-border-radius: calc($diameter / 2); /* stylelint-disable-line property-no-vendor-prefix */
    border-radius: calc($diameter / 2);
}
