@import "bootstrap/scss/mixins/breakpoints";
@import "../../variables";

.empty-list-region {
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
}

@include media-breakpoint-up(md) {
    .empty-list-region {
        width: calc(100% - 30px);
    }
}
